body {

    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: lightsteelblue;
}

#head {

    color: blue;
    text-align: center;
    border-style: solid;
    border-color: aqua;
}

#links {

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {

    font-size: 40px;
    color: cadetblue;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover {

    color: blue;
}

p {

    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

img {

    width: 50%;
    height: auto;
}